body {
  width: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image: url('../images/pattern-bg.png');
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin: -20px 0;
  padding: 0;
}

.header__title {
  color: #fff;
  text-align: center;
  padding: 30px 0 10px;
  font-size: 20px;
}

.header__input-box {
  margin: 0 5%;
  position: relative;
  width: 90%;
}

.header__input {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  border: #fff;
  font-size: 18px;
}

.header__arrow {
  background-color: #000;
  padding: 10px;
  width: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.result {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  padding: 20px;
  left: 10%;
  right: 10%;
  top: 150px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.result__hidden {
  display: none;
}

.result__subtitle {
  font-size: 12px;
  text-align: center;
  color: hsl(0, 0%, 59%);
  padding: 0;
  margin: 0;
}

.result__text {
  padding: 0;
  margin: 3px 0 0;
  font-size: 20px;
  text-align: center;
  color: hsl(0, 0%, 17%);
}

.map {
  height: calc(100vh - 260px);
  z-index: 0;
}

.footer__description {
  padding: 20px 0;
  margin: 0 10px;
  font-size: 11px;
  text-align: center;
}

.footer__attribution {
  padding: 20px 0;
  margin: 0 10px;
  font-size: 11px;
  text-align: center;
}
.footer__attribution__link {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 768px) {
  .header__title {
    padding: 30px 0 15px;
    font-size: 30px;
  }

  .header__input {
    width: 95%;
    font-size: 20px;
  }

  .header__arrow {
    width: 18px;
  }

  .result {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 20px;
    left: 10%;
    right: 10%;
    top: 220px;
    z-index: 2;
    display: flex;
    flex-direction: row;
  }

  .result__hidden {
    display: none;
  }

  .result__text-box {
    border-right: solid hsl(0, 0%, 59%) 0.3px;
    padding: 0 15px;
  }

  .result__text-box:last-child {
    border-right: #fff;
  }
}

@media (min-width: 1240px) {
  .header {
    margin: -30px 0;
  }

  .header__title {
    padding: 30px 0 15px;
    font-size: 40px;
  }
  .header__input-box {
    margin: 0 15%;
    position: relative;
    width: 70%;
  }
  .header__input {
    width: 100%;
    font-size: 25px;
  }

  .header__arrow {
    width: 23px;
    right: -20px;
  }

  .result {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 20px;
    left: 15%;
    right: 15%;
    top: 220px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .result__hidden {
    display: none;
  }

  .result__subtitle {
    font-size: 15px;
  }

  .result__text {
    margin: 10px;
    font-size: 20px;
  }

  .result__text-box {
    border-right: solid hsl(0, 0%, 59%) 0.3px;
    padding: 0 20px;
  }

  .result__text-box:last-child {
    border-right: #fff;
  }
}
